
h1:hover{
    color: red;
}
a:link{
    background-color: red;
    color: white;
}
a:visited{
    background-color: blue;
    color: gray;
}
a:hover{
    background-color: rgb(180, 244, 180);
    color: rgb(111, 59, 59);
}
a:active{
    background-color: rgb(244, 180, 180);
    color: rgb(59, 59, 111);
}